{% extends 'tasks/base.html' %}

{% block content %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <p class="tasks-title">Information about task:</p>
    <div class="detail-list">
        <p class="detail-title"><strong>Title:</strong> {{ task.task_name }}</p>
        <p class="detail-description"><strong>Description:</strong> {{ task.task_description }}</p>
        <p class="detail-deadline"><strong>Deadline:</strong> {{ task.task_deadline }}</p>
        <p class="detail-users"><strong>Users:</strong></p>
        <ul class="profile-list">
            {% for profile in task.profile_set.all %}
                <li class="profile-on-task">{{ profile.name }}<a class="delete-profile"
                                                                 href="{% url 'tasks:delete_user_from_task' task.pk profile.id %}"><i
                        class="material-icons">delete_outline</i></a></li>
            {% endfor %}
            <li class="profile-on-task"><a class="add-profile" href="{% url 'tasks:add_user_to_task' task.pk %}"><i
                    class="material-icons">add</i></a></li>

        </ul>
    </div>
    <div class="buttons">
        <a class="return-button" href="{% url 'tasks:index' %}">Return</a>
        <a class="return-button" href="{% url 'tasks:task_delete' task.id %}">Delete</a>
        <a class="return-button" href="{% url 'tasks:task_edit' task.id %}">Edit</a>
    </div>
    <div class="comment-div">
        <h3 class="comment-title">Comments</h3>
        {% if comments %}
            <ul class="comment-list">
                {% for comment in comments %}
                    <li class="comment">
                        <strong>Author:</strong> {{ comment.author.name }}><br/>
                        <strong>Date:</strong> {{ comment.date|date:"H:i d F Y" }}<br/>
                        <strong>Content:</strong> {{ comment.comment_text }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" class="comment-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add comment</button>
        </form>
    </div>
{% endblock %}