body {
    background-color: #f3f0ec;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #fff;
    /*padding: 20px 10px;*/
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /*height: 50px;*/
    height: auto;
    display: block;
    border-color: rgba(0,0,0,.14);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.06), 0 4px 5px 0 rgba(0,0,0,.06), 0 1px 10px 0 rgba(0,0,0,.08);
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 18px;
    line-height: 0;
    border-right: 6px;
    border-radius: 999px;
}

.header a.logo {
    font-size: 35px;
    font-weight: bold;
}

.header a.logo:hover {
    background-color: #fff;
}

.content {
    /*margin-top: 100px;*/
    margin-top: auto;
}

.xd {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.task {
    text-align: left;
    overflow: hidden;
    /*border: 2px solid gray;*/
    border-bottom: 1px solid gray;
}

.task:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

.task-link {
    color: black;
    display: block;
    text-decoration: none;
}

.detail-list {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    padding: 6px;
}

.detail-title {
}

.tasks-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px dotted;
    padding-bottom: 16px;
    width: 50%;
    margin: 16px auto;
}

.buttons {
    margin-right: 10%;
}

.return-button {
    text-align: center;
    font-weight: 600;
    text-decoration: None;
    width: 100px;
    color: black;
    padding: 10px;
    background-color: #7d92ff;
    border-radius: 25px;
    float: right;
    margin-left: 20px;
}

.status-button {
    text-align: center;
    font-weight: 600;
    text-decoration: None;
    width: 100px;
    color: black;
    padding: 10px;
    background-color: #7d92ff;
    border-radius: 25px;
    float: right;
    margin-left: 20px;
}

.general-form {
    margin-left: 10%;
    margin-top: 50px;
}

.return-button:hover {
    color: white;
}

table {
    border: none;
    table-layout: fixed;
    width: 100%;
    overflow-x: scroll;
    border-spacing: 10px 0;
    border-collapse: separate;
}

td,th {
    background-color: white;

}

th {
    border: 2px solid gray;
    border-radius: 5px;
    width: 200px;
    max-width: 200px;
    font-weight: 600;
}

th:hover {
    background-color: #f1f1f1;
    font-weight: 900;
}

tr {
    text-align: center;
}

.wrapper {
    margin-top: 100px;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.add-task {
    text-align: center;
    background-color: transparent;
    overflow: hidden;
    margin-top: 10px;
}

.add-task:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

.add-category {
    text-decoration: none;
    color: black;
    display: block;
}

.empty-task {
    background-color: transparent;
}

.space-row {
    padding: 5px 0;
    background-color: transparent;
    border: none;
}

.category {
    padding: 10px 0;
    text-decoration: none;
    color: black;
    display: block;
}

.form {
    text-align: center;
}

.log-form {
    display: inline-block;
}

.header-right {
    float: right;
    margin-right: 50px;
}

.header-right a:hover {
    background-color: #ddd;
    color: black;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

.sign-text {
    text-align: center;
}

.register-link {
    text-decoration: none;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: 600;
}

.delete-profile {
    opacity: 0;
    text-decoration: none;
    color: black;
    margin-left: 5px;
}

.delete-profile:hover {
    opacity: 1;
}

.delete-profile:active {
    opacity: 1;
    color: red;
}

.add-profile {
    color: black;
    text-decoration: none;
}

.add-profile:hover {
    color: green;
}

.detail-users {
    margin-bottom: 0;
}

.profile-list {
    list-style-type: none;
}

.profile-on-task {
    padding-top: 0;
    margin-bottom: 10px;
}

.comment-div {
    margin-top: 100px;
    text-align: left;
    display: block;
}

.comment-list {
    list-style-type: none;
    margin-left: 400px;
    margin-right: 400px;
}

.comment-form {
    text-align: center;
}

.comment {
    margin-bottom: 20px;
}

.comment-title {
    text-align: center;
}